.header{
    /* background: #0088ff; */
    background: #4267B2;
    padding:10px 0;
}
.header__innr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.login a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    background: #1f86ef;
    color: #fff;
    padding: 10px 20px 10px 30px;
    margin-left: 10px;
    position: relative;
    font-weight: 500;
    border-radius: 2px;
}
.login a i{
    position: absolute;
    left:10px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.logo a{
    display: inline-block;
    vertical-align: baseline;
    max-width: 120px;
    width: 100%;
}

