.applied_wrp > ul > li,
.bookmark_wrp > ul > li{
    border-bottom: 1px solid#ddd;
    padding: 10px 0 20px;
    margin-bottom: 10px;
}
.applied_item,
.bookmark_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.applied_item_dsc,
.bookmark_item_dsc{
    padding-left: 100px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.applied_item_dsc{
    padding-left: 70px;
}
.applied_item_dsc img,
.bookmark_item_dsc img{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
}
.applied_item_dsc h6,
.bookmark_item_dsc h6{
    margin-bottom: 10px !important;
}
.applied_item_dsc ul li,
.bookmark_item_dsc ul li{
    float: left;
    padding: 0 20px 10px 20px;
    position: relative;
}
.applied_item_dsc ul li i,
.bookmark_item_dsc ul li i{
    position: absolute;
    left: 0;
    color: #1f86ef;
}
.bookmark_item_btn button{
    border-radius: 30px;
    position: relative;
    padding-left:25px;
    margin-left: 10px;
}
.applied_item_btn button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
.bookmark_item_btn button i{
    position: absolute;
    left: 10px;
    top: 5px;
}
.transaction_table table tbody tr td{
    background: transparent !important;
    box-shadow: none !important;
    padding:20px 20px;
}

.header_profile_innr a{
    display: inline-block;
    vertical-align: baseline;
    max-width: 120px;
    width: 100%;
}

/*
------------------
 Header Css
------------------ 
*/
.header_profile_sec_wrp{
    background: #4267B2;
    padding: 10px 0;
}
.header_profile_innr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avator button.dropdown-toggle{
    white-space: nowrap;
    background: transparent;
    border: 0;
    padding: 0;
  }
.avator button{
    padding: 0 !important;
    background: transparent !important;
}
.avator img{
    width: 70px;
    height: 70px;
    border:5px solid#fff;
    border-radius: 40px;
}
.avator .dropdown-menu a{
    padding-left: 30px;
}
.avator .dropdown-menu a i {
    padding-top: 2px;
    position: absolute;
    left: 10px;
    color: #1C3496;
}

/*
------------------
 Profile Menu
------------------ 
*/
.header_profile{
    position: relative;
}
.avator ul{
    min-width: 10rem;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    background: #fff;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    position: absolute;
    top: 100%;
    margin-top: 10px;
    z-index: 999999;
}
.profile_menu span{
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    font-weight: 500;
    padding-left: 10px;
    cursor: pointer;
}
.avator ul li a{
    display: block;
    padding: 10px 20px;
    color: #000;
    transition: all .3s ease-in-out;
    text-transform: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
}
.avator ul li a:hover{
    color: #1f86ef;
}