/*
-----------------
.contact_form_sec_wrp
----------------- 
 */
 .contact_form_sec_wrp{
    padding: 80px 0;
    background: #f8f8f8;
 }
 .contact_info{
    border: dashed 1px transparent;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    background: #fff;
    padding: 30px 20px;
    margin-top: 22px;
 }
 .contact_info h4{
    margin-bottom: 10px !important;
 }
 .contact_info > ul > li{
    padding: 5px 0;
 }
 .contact_info > ul > li > a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    position: relative;
    padding-left:30px;
 }
 .contact_info > ul > li a i{
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    line-height: 1;
    color:#1f86ef;
 }
 .contact_info > ul > li > a:hover{
    color: #1f86ef;
 }
 .ftr_socail_icon{
    padding-top: 20px;
 }
 .ftr_socail_icon ul{
    margin: 0 -5px;
 }
 .ftr_socail_icon ul li{
    float: left;
    padding: 0 5px;
 }
 .ftr_socail_icon ul li a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 22px;
    line-height: 38px;
    color: #1f86ef;
    width: 40px;
    height: 40px;
    border: 2px dotted#1f86ef;
    border-radius: 20px;
    text-align: center;
 }
