/*
--------------------
 footer_sec_wrp
-------------------- 
*/
.footer_sec_wrp{
    padding: 80px 0 0;
}
.ftr_col_4,
.ftr_col_3,
.ftr_col_2,
.ftr_col_1{
    width: 25%;
    float: left;
    padding-right: 50px;
}
.ftr_logo a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    padding-bottom: 20px;
    max-width: 150px;
    width: 100%;
}
.ftr_socail_icon ul{
    margin: 0 -5px;
}
.ftr_socail_icon ul li{
    float: left;
    padding: 0 5px;
}
.ftr_socail_icon ul li a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 22px;
    line-height: 38px;
    color: #1f86ef;
    width: 40px;
    height: 40px;
    border: 2px dotted#1f86ef;
    border-radius: 20px;
    text-align: center;
}
.ftr_col_4 h4,
.ftr_col_3 h4,
.ftr_col_2 h4{
    font-size: 22px !important;
    line-height: 1 !important;
    color: #1f86ef;
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px !important;
    border-bottom: 2px solid#1f86ef;
    padding-bottom: 15px;
    position: relative;
}
.ftr_col_4 h4:after,
.ftr_col_3 h4:after,
.ftr_col_2 h4:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 80px;
    height: 6px;
    background: #1f86ef;
}
.ftr_col_3 ul li,
.ftr_col_2 ul li{
    padding-bottom: 10px;
}
.ftr_col_3 ul li a,
.ftr_col_2 ul li a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1;
    color: #000;
}
.ftr_col_3 ul li a i,
.ftr_col_2 ul li a i{
    color: #1f86ef;
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
}
.ftr_col_4 ul li{
    padding-bottom: 10px;
}
.ftr_col_4 ul li a{
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.2;
    color: #000;
    padding-left: 20px;
    position: relative;
}
.ftr_col_4 ul li a i{
    position: absolute;
    left: 0;
    top: 2px;
    color: #1f86ef;
}
.ftr_col_2 ul li a:hover,
.ftr_col_3 ul li a:hover,
.ftr_col_4 ul li a:hover{
    color: #1f86ef;
}
.frt_btm{
    border-top: 2px solid#ddd;
    padding: 30px 0;
}
.footer_innr p{
    margin-bottom: 0;
    text-align: center;
}